// Mixins in here

.btn {
    .my-button();
    .animation-fadein();
}

.my-button(@bg-color:rgb(22, 186, 228), @font-color: white) {
    color: @font-color;
    background-color: @bg-color;
    margin: 10px 0;
    cursor: pointer;
    width: 90%;
    padding: 10px 5%;
    font-size: 1.75rem;
    border-radius: 10px;
    text-align: center;

    &:hover {
        color: @bg-color;
        background-color: pink;
    }
}

.animation-fadein () {
    animation: fadein 2.5s;

    @keyframes fadein {
        from {opacity: 0;}
        to {opacity: 1;}
      }
}
